# Data directory excludes
data/cache/*

data/core-backend/back-translation/*
data/core-backend/braille/*
data/core-backend/braille-molds/*
data/core-backend/formatted-braille/*
data/core-backend/paginated-braille/*
data/core-backend/source-material/books/*
data/core-backend/source-material/texts/*
data/core-backend/texts/*

data/database/*

# Logs directory excludes
logs/core-backend/*

# Exclude .env files
.env

# Override to preserve directory structure
!.gitkeep
